version: "3"
services:
  db:
    environment:
      - POSTGRES_PASSWORD=alexandria
    ports:
      - "5432:5432"

  media-files:
    image: alpine
    restart: "no"
    volumes:
       - uploads:/media/uploads
    entrypoint: |
      /bin/sh -c "chown -R ${UID}:${UID} /media"

  alexandria:
    build:
      context: .
      args:
        INSTALL_DEV_DEPENDENCIES: "true"
    user: "${UID:?Set UID env variable to your user id}"
    tty: true
    stdin_open: true
    volumes:
      - ./:/app
      - uploads:/media/uploads
    depends_on:
     - media-files
    command:
      [
        "/bin/sh",
        "-c",
        "wait-for-it db:5432 -- poetry run python ./manage.py migrate && poetry run python ./manage.py runserver_plus --nostatic 0.0.0.0:8000",
      ]
    environment:
      - ENV=dev
      - DEBUG=true
      - ALEXANDRIA_DEV_AUTH_BACKEND=true
      - ALEXANDRIA_ALLOW_ANONYMOUS_WRITE=true

  minio:
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=minio123

  mc:
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=minio123

volumes:
  uploads:
