name: PyPI

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install poetry
        run: pipx install poetry

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
          cache: "poetry"

      - name: Install apt dependencies
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: |
            ffmpeg
            ghostscript
            imagemagick
            inkscape
            libfile-mimeinfo-perl
            libimage-exiftool-perl
            libjpeg-dev
            libmagic1
            libreoffice
            libsecret-1-0
            poppler-utils
            webp
            zlib1g-dev
          version: 1.0

      - name: Install dependencies
        run: |
          python -m pip install -U twine
          poetry install

      - name: Build package
        run: poetry build

      - name: Upload to PyPI
        run: twine upload dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
          TWINE_NON_INTERACTIVE: true
