name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 0 * * 0"

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: .venv
          key: poetry-${{ hashFiles('poetry.lock')}}
          restore-keys: |
            peotry-
      - name: Set UID
        run: echo "UID=$(id --user)" > .env
      - name: Build the containers
        run: make build
      - name: Lint the code
        run: make lint
      - name: Run test suite
        run: make test
  commit-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install gitlint
        run: pip install gitlint
      - name: Run gitlint
        run: gitlint --contrib contrib-title-conventional-commits --ignore B1,B5,B6
